html {
    background: linear-gradient(-45deg, blue, MidnightBlue, DodgerBlue, indigo, turquoise);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow-y: hidden;
    overflow-x: hidden;
}
    
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/*******************
* FISH PROPERTIES *
*******************/
.Mleft{
position: absolute;
border-radius:50%;
top:45%;
left:45%;
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
-webkit-transition: 1s ease-out;
transition: 1s ease-out;
width: 50px;
}
#o_fish{
display: none;
}
#o_fish-path{
fill: white;
}
.Oleft{
display: inline;
position:absolute;
width:25px;
height:25px;
border-radius:50%;
top:45%;
left:45%;
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
-webkit-transition: 3s ease-out;
transition: 3s ease-out;
}
.Oright{
position:absolute;
width:25px;
height:25px;
border-radius:50%;
top:45%;
left:45%;
-webkit-transition: 3s ease-out;
transition: 3s ease-out;
}

/***********************************************
* Everything unrelated to the fish animations *
***********************************************/
/* hidden */
.hide{
display: none;
}
/* coordinate box */
#coord{
position: absolute;
left: 10px;
bottom: 10px;
}
/* eat count */
#eaten{
position: absolute;
text-align: center;
right: 50%;
top: 10px;
}