.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    color: white;
    background-color: #3984c6;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    color: white;
    background-color: #3984c6;
    border: 4px solid #3984c6;
    top: 15px;
    border-radius: 50%;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    right: 30px;
    border: medium solid rgba(0, 0, 0, 0.4);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 30px;
    border: medium solid rgba(0, 0, 0, 0.4);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent;
}

.right::after {
    left: -16px;
}

.rm-content {
    padding: 20px 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {

    .timeline::after {
    left: 31px;
    }

    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }

    .container::before {
    left: 60px;
    border: medium solid rgba(0, 0, 0, 0.4);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent;
    }

    .left::after, .right::after {
    left: 15px;
    }

    .right {
    left: 0%;
    }
}
